# shared docker-compose configuration
PROJECT_NAME=practice-crm
HTTP_PORT=8080
POSTGRES_DB=practice_crm
POSTGRES_USER=practice_crm
POSTGRES_PASSWORD=change-me
MONGO_DB=practice_events
MONGO_USER=practice_crm
MONGO_PASSWORD=change-me
